ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 150px;
	border: 1px solid #555;
}
li a {
    display: block;
	background-color: gray;
	padding: 8px 16px;
	color: white;
	text-align: center;
	border-bottom: 1px solid #555;
}
li  a:hover {
	background-color: #555;
	color: white;
}
li:last-child{
	border-bottom: none;
}