.center{
	text-align: center;
}

.link{
	color: white;
}

.blocklink{
	
}

.pcpp-part-list-item{
	color: white;
}

a{
	color: white;  /* Quick fix */
}
a:hover, a:focus { 
    color: green;
}
/*footer */

footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}


/* 2 Columns*/
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header h1{
	text-align: center;
}

/* img Padding */
img {
	padding: 1em;
}


