.center{
	text-align: center;
}

.link{
	color: white;
}

.blocklink{
	
}

/*Pdf Padding*/
.pdf{
	padding-top: 1em;
	padding-bottom: 1em;
}


a:hover, a:focus { 
    color: green;
}
/*footer */
footer {
	float: clear;
	bottom: 0;
	position: relative;
	width: 100%;
}

footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* 2 Columns*/
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header h1{
	text-align: center;
}

/* img Padding */
img {
	padding: 1em;
}

